{% load staticfiles %}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="{% static "css/reset.css" %}" />
    <link rel="stylesheet" href="{% static "css/main2.css" %}" />
    <link rel="stylesheet" href="{% static "css/ngo_post.css" %}" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script type = "text/javascript" src= "http://code.jquery.com/jquery-1.9.1.js"></script>

    {% block css %} {% endblock %}

    {% block js %} {% endblock %}
    
    {% block title %} {% endblock %}
</head>
<body>
    <div id="main_body">
        {% include 'menu.html' %} 

        {% block content %}
        {% endblock %}
    </div>

    {% block other_content %}
    {% endblock %}

    {% block bottom_js %}
    {% endblock %}

    <div id="twitter_feed">
        <a class="twitter-timeline" width="210" height="750" href="https://twitter.com/ihasnamespacest/ngo-port"  data-widget-id="398179997933768704">Tweets from @ihasnamespacest/ngo-port</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</body>
</html>