{% extends "base_generic.html" %}

{% block css %}
	<script type = "text/javascript" src="/static/js/home_slide.js"></script>
	<link href="/static/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
{% endblock %}

{% block js %}
	<script type="text/javascript">
	$(window).bind("load", function() {
		var numSlides = 2;
		startSlideshow(numSlides);

		$("#choices").change(function() {
			$(".section_item").css("display", "none");
			if($(this).val() == "international") {
				$('.International').css("display", "inherit");
			}
			else if($(this).val() == "environmental") {
				$('.Environmental').css("display", "inherit");
			}
			else if($(this).val() == "justice") {
				$('.Justice').css("display", "inherit");
			}
			else if($(this).val() == "health") {
				$('.Health').css("display", "inherit");
			}
			else if($(this).val() == "education") {
				$(".Education").css("display", "inherit");
			}
			else if($(this).val() == "energy") {
				$(".Energy").css("display", "inherit");
			}
			else if($(this).val() == "all") {
				$(".section_item").css("display", "inherit");
			}
		});
	});
	</script>
{% endblock %}

{% block content %}
<div id="slideshow">
	{% for post in major_posts|slice:":2" %}
		<div class="slide" id="slide{{forloop.counter}}"/>
		<a href="post_{{post.post.ngo.name|slugify}}_{{post.post.post_id}}"><img class="slide_img" src="{{ post.image_link }}" /></a>
		<div class="slide_descrip">
			<div class="slide_title"> {{ post.post.title }} </div>
			<div class="slide_news"> {{ post.post.news }} </div>
		</div>
		</div>
	{% endfor %}
</div>

<div id="most_popular">
	<div class="section_title"> Most Popular </div> 
	<div id="sort_field">
		<div style="font-size: 20px; margin-bottom: 10px; width: 150px;"> Sort By Topic </div>
		<select id="choices">
			<option value="all">All</option>
			<option value="environmental">Environmental</option>
			<option value="justice">Justice</option>
			<option value="international">International</option>
			<option value="health">Health</option>
			<option value="education">Education</option>
			<option value="energy">Energy</option>
		</select>
	</div>
	{% for post in all_posts|slice:":3" %}
		<div class="section_item {% for class in post.post.classifications.all %}{{class.classification}} {% endfor %}">
			<div class="item_ngo_name"> {{ post.post.ngo.name }} </div>
			<div class="item_title"> {{ post.post.title }} </div>
			<a href="post_{{post.post.ngo.name|slugify}}_{{post.post.post_id}}"><img class="item_img" src={{ post.image_link }} /></a>
			<div class="item_news"> {{ post.post.news }} </div>
		</div>
	{% endfor %}

	<a href="#" class="classname" style="position: absolute; top: 650px; left: 525px;">Show More</a>
</div>

{% endblock %}

{% block other_content %}
	<div id="side_menu">
		<div class="side_menu_item" id="side_menu_title">Quick Links</div>
		<div class="side_menu_item">Environmental</div>
		<div class="side_menu_item">Justice</div>
		<div class="side_menu_item">International</div>
		<div class="side_menu_item">Health</div>
		<div class="side_menu_item">Education</div>
		<div class="side_menu_item">Energy</div>
	</div>
{% endblock %}

{% block bottom_js %}
	<script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script>
	(function($){
		$(window).load(function(){
			$(".item_news").mCustomScrollbar({
				autoHideScrollbar:true,
				theme:"dark-thin",
			});
			$(".slide_news").mCustomScrollbar({
				autoHideScrollbar:true,
				theme:"dark-thin",
			});
		});
	})(jQuery);
	</script>
{% endblock %}