
{% extends "base_generic.html" %}

{% block title %}
    <title> {{ post.post.title }}</title>
{% endblock %}

{% block content %}
    <div class="ngo_post_date">
        {{ post.post.month }} {{ post.post.year }}
    </div>
    <div class="ngo_post_title"> 
        {{ post.post.title }} 
        <div class="ngo_post_author"> By: {{ post.post.author }} </div>
    </div>
    <div class="ngo_post_img"><img src={{ post.image_link }} /></div>
    <div class="ngo_post_text">
        {{ post.post.news }}

    <div class="ngo_post_original">
        Post Linked From: <a href="{{ post.post.original_link }}"> {{ post.post.original_link }} </a>
    </div>
{% endblock %}